# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menuconfig AWS_JOBS
	bool "AWS Jobs library"

if AWS_JOBS

config CLIENT_ID_LEN
	int "MQTT Client ID length"
	default 19


module=AWS_JOBS
module-dep=LOG
module-str=Log level for AWS Jobs
module-help=Enables AWS Jobs log messages.
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # AWS_JOBS
