#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menuconfig DFU_TARGET
	bool "Device Firmware Update Handler"

if (DFU_TARGET)

config DFU_TARGET_MCUBOOT
	bool "MCUBoot Update support"
	default y if BOOTLOADER_MCUBOOT
	select FLASH
	select FLASH_PAGE_LAYOUT
	select IMG_MANAGER
	select MPU_ALLOW_FLASH_WRITE
	select IMG_ERASE_PROGRESSIVELY
	help
	  Support updates which are performed by MCUBoot.


config DFU_TARGET_MODEM
	bool "Modem Update support"
	default y if SOC_NRF9160_SICA
	help
	  Support updates to the modem firmware.

module=DFU_TARGET
module-dep=LOG
module-str=Device Firmware Upgrade
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # DFU_TARGET
