#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menuconfig DFU_CTX
	bool "Device Firmware Update Handler"

if (DFU_CTX)

config DFU_CTX_MCUBOOT
	bool "MCUBoot Update support"
	default y if BOOTLOADER_MCUBOOT
	select FLASH
	select FLASH_PAGE_LAYOUT
	select IMG_MANAGER
	select MPU_ALLOW_FLASH_WRITE
	select IMG_ERASE_PROGRESSIVELY


config DFU_CTX_MODEM_UPDATE
	bool "Modem Update support"
	default y

module=DFU_CTX
module-dep=LOG
module-str=Device Firmware Upgrade
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # DFU_CTX
